.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Information button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

.Information button:hover{
  cursor: pointer;
}