<!DOCTYPE html>
<html lang="en">

<style>
    .header {
        background: #042e27;
        color: white;
        padding: 15px;
        font-size: 40px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Roles</title>
</head>

<body>
    <h1 class="header">Valorant</h1>
    <a href="{{'roles'}}">Return to Dashboard</a>

    <h2>Delete Roles</h2>
    <h3>Is there a weapon that's no longer suitable for certain roles? Delete the dataset here!</h3>

    <form method="POST" action="">
        Role: 
        <select>
            <option value="">--Select--</option>
            <option value="1">Controller</option>
            <option value="2">Duelist</option>
            <option value="3">Initiator</option>
            <option value="4">Sentinel</option>
        </select>

        Weaponkey:
        <input type="number" autofocus="autofocus" name="search_weaponkey">

        <input type="submit" name="submit" value="Delete Role">
    </form>
</body>

</html>