<!DOCTYPE html>
<html lang="en">

<style>
    .header {
        background: #042e27;
        color: white;
        padding: 15px;
        font-size: 40px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>

<body>
    <h1 class="header">Valorant</h1>

    <h2>Add New Agent</h2>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.a_agentkey }}
        {{ form.a_name }}
        {{ form.a_rolekey }}
        {{ form.a_originkey }}
        {{ form.a_gender }}
        {{ form.a_race }}
        {{ form.submit }}
    </form>

    <br>

    <a href="{{'roles'}}">Return to Dashboard</a>
</body>

</html>