<!DOCTYPE html>
<html lang="en">

<style>
    .header {
        background: #042e27;
        color: white;
        padding: 15px;
        font-size: 40px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IUD</title>
</head>

<body>
    <h1 class="header">Valorant</h1>
    <a href="{{'roles'}}">Return to Dashboard</a>

    <h3>What would you like to do?</h3>

    <ol>
        <li>Add New Agents</li>
        <a href="{{'insert'}}">
            <button>Click Here</button>
        </a>

        <br><br>

        <li>Update KDA</li>
        <a href="{{'update'}}">
            <button>Click Here</button>
        </a>

        <br><br>

        <li>Delete Agents</li>
        <a href="{{'deleteA'}}">
            <button>Click Here</button>
        </a>

        <br><br>

        <li>Delete Roles</li>
        <a href="{{'deleteR'}}">
            <button>Click Here</button>
        </a>
    </ol>
</body>

</html>