<!DOCTYPE html>
<html lang="en">

<style>
    .header {
        background: #042e27;
        color: white;
        padding: 15px;
        font-size: 40px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body>
    <h1 class="header">Valorant</h1>

    <h2>Update Agent's KDA</h2>

    <a href="{{'roles'}}">Return to Dashboard</a>
</body>

</html>